= form_for @user, url: complete_signup_signup_index_path, method: :post do |f|
  = hidden_field_tag :current_step, 'step3'
  = f.fields_for :address do |a|
    .field
      .field-label
        = a.label :family_name, "名字"
      .field-input
        = a.text_field :family_name, autofocus: true
    .field
      .field-label
        = a.label :first_name, "名前"
      .field-input
        = a.text_field :first_name, autofocus: true
      %p.furigana ふりがなで入力してください
    .field
      .field-label
        = a.label :furigana_family_name, "名字"
      .field-input
        = a.text_field :furigana_family_name, autofocus: true
    .field
      .field-label
        = a.label :furigana_first_name, "名前"
      .field-input
        = a.text_field :furigana_first_name, autofocus: true
    .field
      .field-label
        = a.label :zipcode, "郵便番号"
      .field-input
        = a.text_field :zipcode, autofocus: true
    .field
      .field-label
        = a.label :prefecture, "都道府県"
      .field-input
        = a.collection_select :prefecture, Prefecture.all, :id, :name, prompt: "選択してください"
    .field
      .field-label
        = a.label :city, "市区町村"
      .field-input
        = a.text_field :city
    .field
      .field-label
        = a.label :city, "市区町村"
      .field-input
        = a.text_field :city
    .field
      .field-label
        = a.label :street, "番地"
      .field-input
        = a.text_field :street
    .field
      .field-label
        = a.label :tell, "電話番号"
      .field-input
        = a.text_field :tell
  = f.submit '登録を完了する'