.main
  .mainshow
    .content
      .mypage-top
        .user-icon
          =image_tag(src= "/assets/member_photo_noimage_thumb.png", size: '60*60',class:"user-icon")
        .user-name
          =link_to @user.nickname ,"#"
        .user-re
          .user-review
            =link_to "評価 0","#"
          .user-exhibit
            =link_to "出品数 0","#"
      %ul.mypage-tabs
        %li.mypage-tabs__active
          %h3
            = link_to "お知らせ","#"
        %li.mypage-tabs__todo
          %h3
            = link_to "やることリスト","#"
          
      %ul.mypage-tab-sign
        %li.mypage-item-link
          .item-link
            =image_tag(src= "/assets/b4bf99b9b29b9c891ee0fa5bb8f07a62.png",class: "merukari-img",width:"47.99px",height:"47.99px")
            .item-link__textbody
              .item-link__body__text
                =link_to "text","#"
              .item-link__body
                .item-link__body__time
                %span 1時間前
                .right-y
        %li.mypage-item-link
          .item-link
            =image_tag(src= "/assets/b4bf99b9b29b9c891ee0fa5bb8f07a62.png",class: "merukari-img",width:"47.99px",height:"47.99px")
            .item-link__textbody
              =link_to "text","#"
              .item-link__body
                .item-link__body__time
                %span 1時間前
        %li.mypage-item-link
          .item-link
            =image_tag(src= "/assets/b4bf99b9b29b9c891ee0fa5bb8f07a62.png",class: "merukari-img",width:"47.99px",height:"47.99px")
            .item-link__textbody
              .item-link__body__text
                =link_to "text","#"
              .item-link__body
                .item-link__body__time
                %span 1時間前
                .right-y
        %li.mypage-go-list
          .mypage-do-list__link
            =link_to "一覧を見る", "#"
        .mypage-tab-container
          %h2.mypage-tab-head 購入した商品
          %ul.mypage-tabs
            %li
              %h3.active
                =link_to "取引中", "#"
            %li
              %h3.postactive
                =link_to "過去の取引", "#"
          .tab-content

    .side
      .mypage-nav
        %ul.mypage-nav-list
          %li.mypage
            = link_to "マイページ","#"
          %li.exhibition
            = link_to"出品する", "/items/new"
          %li.logout
            = link_to destroy_user_session_path, method: :delete do
              ログアウト

        %ul.mypage-nav-list
          %li.title クレジット
          %li.create_credit
            = link_to "クレジットカードの登録","#"
          %li.edit_credit
            = link_to"クレジットカードの情報", "/card/show"    