.main
  -# 人生を変えるフリマアプリバナー
  .main__visual
    .main__visual__content
      %h2.content__subtitle 人生を変えるフリマアプリ
      %p.content__text
        FURIMAは誰でも簡単に出品・購入できる
        %br
        フリマアプリです。
      .main__visual__content__btn
        = link_to image_tag(src= "/appstore.png", class: "abtn"), "#", class: "alink"
        = link_to image_tag(src= "/googleplay.png", class: "gbtn"), "#"
  
  -# FURIMAが選ばれる3つの理由
  .main__topintro
    %h2.subtitle FRIMAが選ばれる3つの理由
    %ul.lists
      %li.list
        .main__topintro__pict
          %span.number 1
          = image_tag "/select1.jpg", size: "250x290"
        %h3.list__text
          %span 3分
          ですぐに出品！
        %p.list__description スマホで入力するだけで簡単に出品できる！
      %li.list
        .main__topintro__pict
          %span.number 2
          = image_tag "/select2.jpg", size: "250x290"
        %h3.list__text
          %span シンプル
          で使いやすい！
        %p.list__description めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.list
        .main__topintro__pict
          %span.number 3
          = image_tag "/select3.jpg", size: "250x290"
        %h3.list__text
          手数料
          %span 業界最安
        %p.list__description 最大3%でお得に出品&購入！

  -# 会員数日本一位バナー
  .main__middle
    .main__middle__content
      %h2.subtitle 会員数日本一位
      %p.text
        FURIMAは、フリマアプリで最も人気。
        %br
        出品・購入回数も業界最多です！
        %br
        ほしかったあの商品に出会えるかもしれません。
      .main__visual__content__btn
        = link_to image_tag(src= "/appstore.png", class: "abtn"), "#", class: "alink"
        = link_to image_tag(src= "/googleplay.png", class: "gbtn"), "#"
  
  -# FURIMAの特徴
  .main__charactor
    %h2.headtitle FURIMAの特徴
    %ul.lists2
      %li.list2
        .main__charactor__pict
          = image_tag "/man1.svg", size: "250x320"
        %h3.list2__text 簡単に売り買いできる
        %p.list2__description スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      %li.list2
        .main__charactor__pict
          = image_tag "/man2.svg", size: "250x320"
        %h3.list2__text 売上金は即日振込みに対応
        %p.list2__description 午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
      %li.list2
        .main__charactor__pict
          = image_tag "/man3.svg", size: "250x320"
        %h3.list2__text 様々な支払いに対応
        %p.list2__description お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
  
  -# ピックアップカテゴリー
  .main__pickup
    %h2.head ピックアップカテゴリー
    .main__pickup__productbox
      .main__pickup__productbox__head
        %h3.title
          =link_to "新規投稿商品","#"
      .main__pickup__productbox__lists
        .main__pickup__productbox__lists__list
          =link_to "#" do
            = image_tag "/image1.png", class: "productimage"
            .list__body
              %h3.name product1
              .datalist
                %ul
                  %li 3000円
                  %li 
                    =icon("fas","star")
                    0
                %p (税込)
        .main__pickup__productbox__lists__list
          =link_to "#" do
            = image_tag "/image2.png", class: "productimage"
            .list__body
              %h3.name product2
              .datalist
                %ul
                  %li 6000円
                  %li 
                    =icon("fas","star")
                    0
                %p (税込)
        .main__pickup__productbox__lists__list
          =link_to "#" do
            = image_tag "/image3.png", class: "productimage"
            %div.list__body
              %h3.name product3
              .datalist
                %ul
                  %li 4000円
                  %li 
                    =icon("fas","star")
                    0
                %p (税込)

  -# ピックアップブランド
  .main__pickup
    %h2.head ピックアップブランド
    .main__pickup__productbox
      .main__pickup__productbox__head
        %h3.title
          =link_to "アーカイバ","#"
      .main__pickup__productbox__lists
        .main__pickup__productbox__lists__list
          =link_to "#" do
            = image_tag "/image1.png", class: "productimage"
            .list__body
              %h3.name product1
              .datalist
                %ul
                  %li 3000円
                  %li 
                    =icon("fas","star")
                    0
                %p (税込)
        .main__pickup__productbox__lists__list
          =link_to "#" do
            = image_tag "/image2.png", class: "productimage"
            .list__body
              %h3.name product2
              .datalist
                %ul
                  %li 6000円
                  %li 
                    =icon("fas","star")
                    0
                %p (税込)
        .main__pickup__productbox__lists__list
          =link_to "#" do
            = image_tag "/image3.png", class: "productimage"
            %div.list__body
              %h3.name product3
              .datalist
                %ul
                  %li 4000円
                  %li 
                    =icon("fas","star")
                    0
                %p (税込)