.main1
  .main1__section
    -# 購入内容の確認
    %h2.buy-head 購入内容の確認
    .main1__section__inner
      .main1__section__inner__items
        .item-box
          %h3.item_image
            =image_tag @item.images[0].image.url
          .item-box-data
            %p.item-name 
              = @item.name
            %p.item-price 
              %span.money 
                = @item.price
              %span.tax (税込)送料込み
    -# 購入内容
    .main1__section__inner
      -# 商品画像と名前
      .main1__section__inner__items
        = form_with model: @item do |f|
          -# 支払い金額 ~円
          %ul.price-table
            %li.price-big
              .merge-price
                %span 支払い金額
              .buy-price
                %span 
                  = @item.price
          .item-info
            .item-info-inner
              %h3 支払い方法
              - if @default_card_information.blank?
                %br 
                .links
                =icon("fas","star")
                =link_to "登録してください", new_card_path
              - else
                -#以下カード情報を表示
                = "**** **** **** " + @default_card_information.last4
                - exp_month = @default_card_information.exp_month.to_s
                - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
                = exp_month + " / " + exp_year
              -# カード情報を登録しているか、どうかでビューが変わる
          .item-info
            .item-info-inner
              %h3 配送先
              -# 同じく住所を登録しているかどうかでビューが変わる
              .links
                =icon("fas","star")
                =link_to "登録してください","#"
          .item-info
            -# 購入ボタン
            .item-info-button
              = form_tag(action: :pay, method: :post) do
                -# %button 購入する
              = form_tag(action: :pay, method: :post) do
                %button 購入する