.new-content 
  .new-item
    .new-item-content
      = form_with model: @item, local: true,class: "new_user", id: "new_user" do |f|
        .new-item-content__images
          .new-item-content__images__box
            .new-item-content__images__title
              商品画像
            .required
              必須
          .new-item-content__images__explanation
            最大5枚までアップロードできます
          .new-item-content__images__itemsbox
            .prev-content
              //JSで挿入したhtmlと同じ形 each文でのプレビュー表示
              - @item.images.each do |image|
                .preview-box
                  .upper-box
                    = image_tag image.image.url, width: "112", height: "112", alt: "preview"
                  .lower-box
                    .update-box
                      %label.edit-btn 編集
                    .delete-box
                      .delete-btn
                        %span 削除
            
            .label-content
            
              //プレビューの数に合わせてforオプションを指定
              = f.label :"images_attributes_#{@item.images.length}_image", class: "label-box", id: "label-box--#{@item.images.length}" do
                %pre.label-box__text-visible クリックしてファイルをアップロード
            .hidden-content
              = f.fields_for :images do |i|

                //プレビューが出ている分のfile_fieldとdelete用のチェックボックスを設置
                = i.file_field :image, class: "hidden-field"
                = i.check_box:_destroy, class: "hidden-checkbox"

                //5つのfile_fieldを準備するに当たって、足りない分を表示
              - @item.images.length.upto(4) do |i|
                %input{name: "item[images_attributes][#{i}][image]", id: "item_images_attributes_#{i}_image", class:"hidden-field", type:"file"}

        .new-item-content__item
          .new-item-content__item__box
            .new-item-content__item__title
              商品名
            .required
              必須
          = f.text_field :name, placeholder: "40文字まで", class: 'new-item-content__item__name'
          .new-item-content__item__box
            .new-item-content__item__title
              商品説明
            .required
              必須
          = f.text_area :description, class: 'new-item-content__item__description', cols: "50", rows: "7", placeholder: "商品の説明（必須 1,000文字以内&#13;(色、素材、重さ、定価、注意点など）&#13;&#13;例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。".html_safe 
          .new-item-content__item__description__count
            0/1000
        .new-item-content__thedetails
          .new-item-content__thedetails__title
            商品の詳細
          .new-item-content__thedetails__box
            .new-item-content__item__box__title
              カテゴリー
            .required
              必須
          .new-item-content__thedetails__category
            = f.collection_select :category_id, @parents, :id, :name, { prompt: "---" }, { class: "category_select-box", id: "category_select" }
            .children_category
              = f.collection_select :child_category_id, @children, :id, :name, { prompt: "---" }, { class: "category_select-box", id: "child_category" }
            .grand_category
              = f.collection_select :grandchild_category_id, @grandchildren, :id, :name, { prompt: "---" }, { class: "category_select-box", id: "grandchild_category" }
          .new-item-content__thedetails__box
            .new-item-content__item__box__title
              商品の状態
            .required
              必須
          = f.select :status, Item.item_statuses, {prompt: "選択してください"}, {class: 'new-item-content__thedetails__status'}
        .new-item-content__delivery
          .new-item-content__delivery__title
            配送について
          .new-item-content__delivery__box
            .new-item-content__delivery__box__title
              配送料の負担
            .required
              必須
          = f.select :payer, Item.delivery_charges, {prompt: "選択してください"}, {class: 'new-item-content__delivery__payer'}
          .new-item-content__delivery__box
            .new-item-content__delivery__box__title
              発送元の地域
            .required
              必須
          = f.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: "選択してください"
          .new-item-content__delivery__box
            .new-item-content__delivery__box__title
              発送までの日数
            .required
              必須
          = f.select :preday, Item.delivery_days, {prompt: "選択してください"}, {class: 'new-item-content__delivery__preday'}
        .new-item-content__price
          .new-item-content__price__title
            価格
          .new-item-content__price__flex
            .new-item-content__price__box
              .new-item-content__price__box__title
                販売価格
              .required
                必須
            .new-item-content__price__input
              .new-item-content__price__input__text
                ¥
              = f.text_field :price, placeholder: "0", class: 'new-item-content__price__input__form'
        .new-item-content__submit
          .new-item-content__submit__box
            = f.submit class: 'new-item-content__submit__box__submit-btn', value: '出品する'
            = link_to "#", class: "new-item-content__submit__box__return-btn" do
              もどる