.main2
  .main2__show
    .main2__show__content
      .main2__show__content__top
        .itemsbox
          %h2.itemsbox__name
            = @item.name
          .itemsbox__body
            %ul.imagebox
              %li.images
                =image_tag @item.images[0].image.url, class:"big_image"
                %ul
                  - @images.each do |image|
                    %li
                      = image_tag image.image.url, class:"mini_image"
          .itemsbox__price
            %span.money
              ¥
              = @item.price
            .itemsbox__price__data
              %span （税込み）
              %span 送料込み
          .itemsbox__explan
            %p
              = @item.description
          .itemsbox__table
            %table
              %tbody
                %tr
                  %th 出品者
                  %td
                    = @item.user.nickname
                %tr
                  %th カテゴリー
                  %td
                    = link_to @item.category.name, "#"
                    %br
                    = link_to @children.name, "#"
                    %br
                    =link_to @grandchildren.name,"#"
                %tr
                  %th 商品の状態
                  %td
                    = Item.item_statuses.keys.to_a[@item.status]
                %tr
                  %th 配送料の負担
                  %td
                    = Item.delivery_charges.keys.to_a[@item.payer]
                %tr
                  %th 発送元の地域
                  %td
                    = @item.prefecture.name
                %tr
                  %th 発送日の目安
                  %td
                    = Item.delivery_days.keys.to_a[@item.preday]

        .comments
          = form_with model: @comment do |f| 
            %textarea{name: "text"}
            %p.action
              相手のことを考えて丁寧にコメントしよう
              %br
              不快な言葉遣いはダメ絶対！
            %button.comebutton(type="submit")
              コメントする
        .main2__content__bottom
          =link_to "ベビー・キッズをもっと見る","#"
        - if user_signed_in? && current_user.id == @item.user_id 
          .edititem
            = link_to "商品の編集",edit_item_path(@item.id), method: :get
        
          .destroyitem
            = link_to "この商品を削除する",item_path(@item.id), method: :delete