!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FleamarketSample76b
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
.header
  .header__inner
    .header__inner__mainheader
      = image_tag "/logo2.png", size: "150x55", alt: "test", class: "homebtn"
      .header__inner__mainheader__searchbox
        = form_with url: '#' do |form|
          = form.text_field :content, class: 'inputbox__text', placeholder: 'キーワード検索'
          = form.submit :検索, class: 'serchbutton'

    .header__inner__nav
      %ul(class="listsleft")
        %li(class="listsleft__item")
          %a(href="#" class="catbtn")カテゴリー
        %li(class="listsleft__item2")
          %a(href="#" class="brandbtn")ブランド
      -if user_signed_in?        
        %ul(class="listsright")
          = link_to new_user_registration_path, method: :get,class:"listsright__item" do
            %li マイページ<
          = link_to destroy_user_session_path, method: :delete, class:"listsright__item" do
            %li ログアウト
      - else
        %ul(class="listsright")
        = link_to new_user_registration_path, method: :get,class:"listsright__item3" do
          %li ログイン
        = link_to step1_signup_index_path, method: :get,class:"listsright__item2" do
          %li 新規登録 
            
= yield

